<link href="@Url.Content("//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css")" rel="stylesheet" id="bootstrap-css">
<script src="@Url.Content("//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")"></script>
<script src="@Url.Content("//code.jquery.com/jquery-1.11.1.min.js")"></script>


<div>
    <img src="@Url.Content(Model.customer.PICTURE)" class="img-fluid img-circle" alt="Responsive image" />
</div>
